# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/

# Testing
.pytest_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store